body {
    background-color: #483e5a;
    background: #4f2891;
   
    color: rgba(255, 255, 255, 0.733);
}
body {
    color: #592cd4c7;
}
div {
    color: #ac85ec;
}
button:disabled{
    background: rgba(128, 128, 128, 0.438);
    color: rgba(169, 169, 169, 0.342);
    border: none;
    cursor: no-drop;
  }

a {
    color: #37b2c2a9;
}
p {
    color: rgba(255, 0, 89, 0.823);
}
h2 {
    color: rgb(0, 128, 79);
}
h3 {
    border: solid 3px #bc79e2;;
    box-shadow: 0 0 10px 3px #bc79e2;
    background: #a556c4c2;
}