body {
    background-color: #483e5a;
    background: #5d34a3c4;
   
    color: rgba(255, 255, 255, 0.733);
}
body {
    color: #1181b4e7;
}
div {
    color: #85e0ec;
}
button:disabled{
    background: rgba(128, 128, 128, 0.438);
    color: rgba(169, 169, 169, 0.342);
    border: none;
    cursor: no-drop;
  }

a {
    color: #37b2c2a9;
}
p {
    color: rgba(255, 0, 89, 0.823);
}
h2 {
    color: rgb(0, 128, 79);
}